{% load static %}
<header>
    <div class="container">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static '/images/All-In.png' %}" alt="Charlotte Logo">
        </a>

        <!-- Search Bar -->
        <form action="{% url 'search_results' %}" method="GET" class="search-bar">
            <input type="text" name="q" placeholder="Search..." aria-label="Search">
            <button type="submit">🔍</button>
        </form>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                
                <!-- Courses Dropdown -->
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Courses ▾</a>
                        <ul class="dropdown-content">
                            {% if user_courses %}
                                {% for group in user_courses %}
                                    <li><a href="{% url 'groups' group.id %}">{{ group.name }}</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a href="#">No Courses</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="dropbtn">Courses ▾</a>
                    </li>
                {% endif %}



                <!-- profile -->
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <!-- login/logout -->
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
