{% extends 'main.html' %}
{% block content %}

<!-- Course Title -->
<div class="course-header">
    <h1>{{ group.name }}</h1>
</div>

<!-- Posts Section -->
<div class="general-posts-section">
    <h2>Posts</h2>

    {% for message in messages %}
    <div class="post">
        <h2 class="post-title">
            <a href="{% url 'post_view' message.pk %}" style="color:white; text-decoration:underline;">
                {{ message.title }}
            </a>
        </h2>
        <p>{{ message.body }}</p> <!-- Body Stays the Same -->
        <small>
            Posted on {{ message.created|date:"F j, Y, g:i a" }} by <strong>{{ message.user.username }}</strong>
        </small> <!-- Date followed by username -->


        <div class="comments-section"> <!-- Comments section -->
            <h4>Comments:</h4>
            {% for comment in comments %}
                {% if comment.message == message %}
                <div class="comment">
                    <strong>{{ comment.author.username }}:</strong>
                    <p>{{ comment.body }}</p>
                    <small>Posted on {{ comment.created|date:"F j, Y, g:i a" }}</small>
                </div>
                {% else %}
                {% endif %}
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
        
    </div>

    {% empty %}
        <p>No posts yet. Be the first to start a discussion!</p>
    {% endfor %}
</div>

{% endblock content %}
