{% extends 'main.html' %}
{% block content %}

<div class="home-container">
    <!-- <div class="left-section"> -->
        <div class="welcome">
            <h1 class="site-title">Welcome to CharlotteConnect, Jessica!</h1>
        </div>
        

        <!-- <div class="courses">
            <h4>Your Courses</h4>
            {% for group in groups %}
                <div class="course-item">
                    <h5>{{group.id}} -- <a href="{% url 'groups' group.id %}">{{group.name}}</a></h5>
                </div>
            {% endfor %}
        </div> -->
    <!-- </div> -->

    <div class="general-posts-section">
        <h2>Posts</h2>

        {% for message in messages %}
        <div class="post">
            <h3>
                {{ message.user.username }} posted 
                {% if message.group %}
                    in <a href="{% url 'groups' message.group.id %}">{{ message.group.name }}</a>
                {% else %}
                
                {% endif %}
            </h3>
            <p>{{ message.body }}</p>
            <small>Posted on {{ message.created|date:"F j, Y, g:i a" }}</small>
        </div>
        {% empty %}
            <p>No posts yet. Be the first to start a discussion!</p>
        {% endfor %}

    </div>
</div>

{% endblock content %}
