{% extends 'main.html' %}
{% block content %}

<div class="home-container">
    <!-- <div class="left-section"> -->
        <div class="welcome">
            <h1 class="site-title">Welcome to CharlotteConnect, Jessica!</h1>
        </div>
        

        <!-- <div class="courses">
            <h4>Your Courses</h4>
            {% for group in groups %}
                <div class="course-item">
                    <h5>{{group.id}} -- <a href="{% url 'groups' group.id %}">{{group.name}}</a></h5>
                </div>
            {% endfor %}
        </div> -->
    <!-- </div> -->

    <div class="general-posts-section">
        <h2>Posts</h2>

        {% for message in messages %}
        <div class="post">
            <h2 class="post-title">{{ message.title }}</h2> <!-- Title on Top -->
            <p>{{ message.body }}</p> <!-- Body Stays the Same -->
            <small>
                Posted on {{ message.created|date:"F j, Y, g:i a" }} by <strong>{{ message.user.username }}</strong>
            </small> <!-- Date followed by username -->

            <div class="comments-section"> <!-- Comments section -->
                <h4>Comments:</h4>
                {% for comment in comments %}
                    {% if comment.message == message %}
                    <div class="comment">
                        <strong>{{ comment.author.username }}:</strong>
                        <p>{{ comment.body }}</p>
                        <small>Posted on {{ comment.created|date:"F j, Y, g:i a" }}</small>
                    </div>
                    {% else %}
                    {% endif %}
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>
            
            <!-- End comments -->

        </div>
    {% empty %}
        <p>No posts yet. Be the first to start a discussion!</p>
    {% endfor %}
    </div>
    
</div>

{% endblock content %}
