{% extends 'main.html' %}
{% block content %}
<main class="new-user-main">
    <div class="new-user-container">
        <div class="new-user-about">
            <h1>Login</h1>
            <h2>Welcome Back!</h2>
        </div>

        <!-- Show error message -->
        {% if messages %}
            <div class="login-error">
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div>
                <input type="text" name="username" placeholder="Username" required>  
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required> 
            </div>
            <button type="submit">
                Login
            </button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Create one</a></p>
    </div>
</main>
{% endblock content %}
